* {
    padding: 3px;
    margin: 5px;
    font-family: Arial, Helvetica, sans-serif, 'Times New Roman', Times, serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;

    width: 700px;
    height: 1020px;
    padding: 10px;

    border: 1px solid rgb(119, 118, 118);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.466);
}

header {
    display: flex;
    flex-direction: column;
    width: 700px;
}

#caixa-1 {
    display: flex;
    flex-direction: row;
    margin: 0px 30px 0px 0px;
}

#endereco-email {
    margin-top: 50px;
}

#celular {
    margin-top: 70px;
    margin-left: 20px;
}

img {
    width: 150px;
    border-radius: 20px;
    margin-left: 20px;
}

main {
    width: 700px;
}

h2 {
    font-size: 17px;
    color: rgb(2, 2, 214);
}

p {
    font-size: 17px;
}

#bloco-informacao-adicional > h2 {
    font-size: 15px;
}
